{% extends "shop/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="product-grid" style="margin-top:5rem">
    <div class="product-card">
        <h2>Cart</h2>
        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>
                        <input type="number" name="quantity_{{ item.id }}" value="{{ item.quantity }}">
                    </td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.product.price|mul:item.quantity }}</td>
                    <td>
                        <button formaction="{% url 'remove_from_cart' item.id %}">Remove</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <h3>Total: {{ total }}</h3>
            <button type="submit" name="update_cart">Update Cart</button>
        </form>
    </div>
    <div class="product-card">
        <h2>User Profile</h2>
        <a href="{% url 'create_order' %}">Create Order</a>
        <h3>Your Orders</h3>
        <table>
            <tr>
                <th>Image</th>
                <th>Description</th>
                <th>Proposed Price</th>
                <th>Delivery Address</th>
                <th>Actions</th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td><img src="{{ order.image.url }}" alt="Order Image" width="100"></td>
                    <td>{{ order.description }}</td>
                    <td>{{ order.proposed_price }}</td>
                    <td>{{ order.delivery_address }}</td>
                    <td>
                        <a href="{% url 'edit_order' order.id %}">Edit</a> |
                        <a href="{% url 'delete_order' order.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

