{% extends "shop/base.html" %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
<h2 style="text-align: center;">All Products</h2>
<div class="form-container">
    <form method="GET">
        <input type="text" name="search" placeholder="Search by name" value="{{ request.GET.search }}">
        <select name="category">
            <option value="">All Categories</option>
            {% for category in categories %}
            <option value="{{ category.name }}" {% if request.GET.category == category.name %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <select name="brand">
            <option value="">All Brands</option>
            {% for brand in brands %}
            <option value="{{ brand.name }}" {% if request.GET.brand == brand.name %}selected{% endif %}>{{ brand.name }}</option>
            {% endfor %}
        </select>
        <input type="number" name="min_price" placeholder="Min Price" value="{{ request.GET.min_price }}">
        <input type="number" name="max_price" placeholder="Max Price" value="{{ request.GET.max_price }}">
        <input type="number" name="min_rating" placeholder="Min Rating" value="{{ request.GET.min_rating }}">
        <button type="submit">Filter</button>
    </form>
</div>

<div class="product-grid" style='margin: 1rem;'>
    {% for product in products %}
    <div class="product-card">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">        
        <a href="{% url 'product_detail' product.slug %}"><h3>{{ product.name }}</h3></a>
        <p>Price: {{ product.price }}</p>
        <p>Rating: {{ product.average_rating|floatformat:1|default:"No ratings yet" }}</p>
        {% comment %} <a href="{% url 'product_detail' product.slug %}">View Details</a> {% endcomment %}
        
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'add_to_cart' product.id %}" class="btn add-to-cart">
            {% csrf_token %}
            <button type="submit" class="btn add-to-cart">
                <img class="mx-1" src="{% static "/icons/cart-plus.svg" %}" alt="Catalog Icon"
                    width="32" height="32">
            </button>
        </form>
        {% else %}
            <p><a href="{% url 'login' %}">Login</a> to Add to Cart.</p>
        {% endif %}
    </div>
    {% endfor %}
</div>

<!-- Paginator -->
{% include "shop/includes/pagination.html" with products=products %}

{% endblock %}

