{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<form method="POST" enctype="multipart/form-data" style="display:flex; flex-direction:column; width:50%; margin-top:2rem" class="container">
    {% csrf_token %}
    <h3>Update Profile</h3>
    {{ u_form.as_p }}
    <br>
    <h3>Update Avatar</h3>
    <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}'s avatar" class="img-thumbnail" style="width: 150px; height: 150px;">
    {{ p_form.as_p }}
    <button type="submit" name="profile_edit" style="width:200px;">Update Profile</button>
    <a href="{% url 'password_change' %}" class="btn btn-primary" style="width:200px;">Change Password</a>
</form>
{% endblock %}
