body {
    font-family: Arial, sans-serif;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"], input[type="number"], select, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    flex: 1 1 calc(27% - 20px);
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.product-card h3 {
    margin: 0;
    font-size: 1.25em;
}

.product-card p {
    color: #888;
}

a{
    text-decoration: none;
}

.navbar{
    background-color: #323030cb;
}
ul li a{
    color: #f2f4f2;
}
