<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not products.has_previous %}disabled{% endif %}">
      <a class="page-link" href="{% if products.has_previous %}?page={{products.previous_page_number}}
      {% endif %}">Previous</a>
    </li>
    {% for page in products.paginator.page_range %}
    {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
      <li class="page-item {% if products.number == page %}active{% endif %}">
          <a class="page-link" href="?page={{page}}">{{page}}</a>
      </li>
    {% endif %}
    {% endfor %}

    <li class="page-item {% if not products.has_next %}disabled{% endif %}">
      <a class="page-link" href="{% if products.has_next %}?page={{products.next_page_number}}
      {% endif %}">Next</a>
    </li>
  </ul>
</nav>


{% comment %} {% if products.has_other_pages %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      
      {% if products.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
      {% endif %}
    
      {% for num in products.paginator.page_range %}
        {% if products.number == num %}
          <li class="page-item active">
            <a class="page-link">{{ num }}</a>
          </li>
          {% elif num >= products.number|add:'-2' and num <= products.number|add:'2' %}
            <li class="page-item ">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
        {% endif %}
      {% endfor %}
      
      {% if products.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link">Next</a>
        </li>
      {% endif %}
    
    </ul>
  </nav>
{% endif %} {% endcomment %}